<div class="container">
    <div class="row">
        <div class="col">
            <div class="title_block margin-bottom_50">
                <div class="title">
                    О компании
                </div>
                <img src="/assets/theme/images/about_us_line.png" alt="blue_line">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="heading_text">
                ООО «ЭкспертСтройИнжиниринг»
            </div>
        </div>
        <div class="col">
            Компания ООО «ЭкспертСтройИнжиниринг» предлагает широкий спектр систем
            автоматической пожарной сигнализации, видеонаблюдения, охраной сигнализации,
            а также полный комплекс услуг в области их монтажа и обслуживания.

            Имеется большой опыт реализация сложных проектов в данной области.
            Компания ООО «ЭкспертСтройИнжиниринг» может подготовить индивидуальные и
            комплексные решения, созданные с учетом Ваших требований.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="contacts_data contacts_about_us">
                            <span class="b">
                               Адрес:
                            </span>
                г.Омск, ул.10 лет Октября<br>
                193 корпус 2, офис 601

                <span class="b">
                               Почтовый индекс
                            </span>
                644009

                <span class="b">
                               Телефоны:
                            </span>
                <a href="tel:83182505112">+7(3812)505-112</a><br>
                <a href="tel:89509593030">+7(950)959-30-30</a>
                <span class="b">
                             Email:
                            </span>
                <a href="mailto:esi-omsk@mail.ru">esi-omsk@mail.ru</a>
            </div>
        </div>
        <div class="col-sm-6 offset-sm-2">
            <img class="w-100p" src="/assets/theme/images/office.png" alt="office">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="b">Реквизиты</span>
        </div>
        <div class="col-12">
            Полное название: <br>
            Общество с ограниченной ответственностью «ЭкспертСтройИнжиниринг»<br>
            <br>
            ИНН: 5507069030<br>
            КПП: 550401001<br>
            БИК: 045004751<br>
            ОГРН: 1045513004558<br>
            <br>
            Банк получателя: Филиал № 5440 ВТБ 24 (ПАО) г.Новосибирск<br>
            Р/счет: 40702810412430001996<br>
            Корр./счет: 30101810450040000751<br>
            <br>
            Юридический адрес: 644009, г. Омск, ул. 10 лет Октября, 193, корпус 2,офис 601<br>
            Телефоны: (3812) 505-112, 504-112;<br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="links margin-bottom_50">
                <span class="b">Странница на:</span>
                <a class="margin-rignt_50" href="https://bolid.ru/projects/assemblyorg/assemblyorg_799.html"><img src="/assets/theme/images/bolid.png" alt="bolid"></a>
                <a class="margin-rignt_50" href="https://omsk.flamp.ru/firm/ehkspertstrojjinzhiniring_ooo-282004258241301"><img src="/assets/theme/images/flamp.png" alt="flamp"></a>
                <a href="#"><img src="/assets/theme/images/vk.png" alt="Вконтакте"></a>
                <a href="#"><img src="/assets/theme/images/ok.png" alt="Одноклассники"></a>
                <a href="#"><img src="/assets/theme/images/fb.png" alt="Фейсбук"></a>
            </div>
        </div>
    </div>
</div>
<div class="container margin-bottom_50">
    <div class="row">
        <div class="col-12">
            <div class="title_block margin-bottom_50">
                <div class="title">
                    Нам доверяют
                </div>
                <img src="/assets/theme/images/about_us_line.png" alt="blue_line">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"> <div class="comp_logos"> <img src="/assets/theme/images/rus_climat.png" alt="Русклимат"></div></div>
        <div class="col-sm-4"><div class="comp_logos"><img src="/assets/theme/images/avogen.png" alt="avtogen"></div></div>
        <div class="col-sm-4"><div class="comp_logos"><img src="/assets/theme/images/adam_eva.png" alt="Адам и Ева"></div></div>
        <div class="col-sm-4"><div class="comp_logos"><img src="/assets/theme/images/nimfa.png" alt="nimfa"></div></div>
        <div class="col-sm-4"><div class="comp_logos"><img src="/assets/theme/images/pine_bar.png" alt="pine bar"></div></div>
        <div class="col-sm-4"><div class="comp_logos"><img src="/assets/theme/images/coffee_rooms.png" alt="coffee rooms"></div></div>
    </div>
</div>