<!DOCTYPE html>
<html lang="ru">
<head>
    [[$head]]
</head>
<body>
<div class="wrapper">
    <div class="content">
        <div class="content-fluid main_head_bg">
            [[$header]]
        </div>
        <div class="container m-b_50">
            <div class="row">
                <div class="col-12">
                    <div class="title">
                        Одноосные прицепы
                        <img src="assets/theme/images/title_line.png" alt="линия">
                    </div>
                </div>
                <div class="col-md-4">
                    <a class="prod_cart_link" href="">
                        <div class="product_cart">
                            <div class="prod_cart_img">
                                <img src="assets/theme/images/simple_img.png" alt="">
                            </div>
                            <div class="prod_cart_title">
                                Аляска АЛК-7143 (ФЕРМЕР)
                            </div>
                            <div class="prod_cart_price">
                                30 000 Р
                            </div>
                            <div class="prod_cart_desc">
                                Прицеп общего пользования.
                                Кузов: 2500х1400х400. Масса груза 515кг.
                                Позволяет перевозить предметы большого
                                веса и строительные материалы.
                            </div>
                            <a href="">
                                <div class="prod_cart_btn animaite">
                                    Узнать больше
                                </div>
                            </a>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="prod_cart_link" href="">
                        <div class="product_cart">
                            <div class="prod_cart_img">
                                <img src="assets/theme/images/simple2.png" alt="">
                            </div>
                            <div class="prod_cart_title">
                                Аляска АЛК-7143 (ФЕРМЕР)
                            </div>
                            <div class="prod_cart_price">
                                30 000 Р
                            </div>
                            <div class="prod_cart_desc">
                                Прицеп общего пользования.
                                Кузов: 2500х1400х400. Масса груза 515кг.
                                Позволяет перевозить предметы большого
                                веса и строительные материалы.
                            </div>
                            <a href="">
                                <div class="prod_cart_btn animaite">
                                    Узнать больше
                                </div>
                            </a>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="prod_cart_link" href="">
                        <div class="product_cart">
                            <div class="prod_cart_img">
                                <img src="assets/theme/images/simple_img.png" alt="">
                            </div>
                            <div class="prod_cart_title">
                                Аляска АЛК-7143 (ФЕРМЕР)
                            </div>
                            <div class="prod_cart_price">
                                30 000 Р
                            </div>
                            <div class="prod_cart_desc">
                                Прицеп общего пользования.
                                Кузов: 2500х1400х400. Масса груза 515кг.
                                Позволяет перевозить предметы большого
                                веса и строительные материалы.
                            </div>
                            <a href="">
                                <div class="prod_cart_btn animaite">
                                    Узнать больше
                                </div>
                            </a>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="prod_cart_link" href="">
                        <div class="product_cart">
                            <div class="prod_cart_img">
                                <img src="assets/theme/images/simple_img.png" alt="">
                            </div>
                            <div class="prod_cart_title">
                                Аляска АЛК-7143 (ФЕРМЕР)
                            </div>
                            <div class="prod_cart_price">
                                30 000 Р
                            </div>
                            <div class="prod_cart_desc">
                                Прицеп общего пользования.
                                Кузов: 2500х1400х400. Масса груза 515кг.
                                Позволяет перевозить предметы большого
                                веса и строительные материалы.
                            </div>
                            <a href="">
                                <div class="prod_cart_btn animaite">
                                    Узнать больше
                                </div>
                            </a>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="prod_cart_link" href="">
                        <div class="product_cart">
                            <div class="prod_cart_img">
                                <img src="assets/theme/images/simple2.png" alt="">
                            </div>
                            <div class="prod_cart_title">
                                Аляска АЛК-7143 (ФЕРМЕР)
                            </div>
                            <div class="prod_cart_price">
                                30 000 Р
                            </div>
                            <div class="prod_cart_desc">
                                Прицеп общего пользования.
                                Кузов: 2500х1400х400. Масса груза 515кг.
                                Позволяет перевозить предметы большого
                                веса и строительные материалы.
                            </div>
                            <a href="">
                                <div class="prod_cart_btn animaite">
                                    Узнать больше
                                </div>
                            </a>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="prod_cart_link" href="">
                        <div class="product_cart">
                            <div class="prod_cart_img">
                                <img src="assets/theme/images/simple_img.png" alt="">
                            </div>
                            <div class="prod_cart_title">
                                Аляска АЛК-7143 (ФЕРМЕР)
                            </div>
                            <div class="prod_cart_price">
                                30 000 Р
                            </div>
                            <div class="prod_cart_desc">
                                Прицеп общего пользования.
                                Кузов: 2500х1400х400. Масса груза 515кг.
                                Позволяет перевозить предметы большого
                                веса и строительные материалы.
                            </div>
                            <a href="">
                                <div class="prod_cart_btn animaite">
                                    Узнать больше
                                </div>
                            </a>
                        </div>
                    </a>
                </div>
                <div class="col-4 offset-5">
                    <div class="pagination">
                        <a href=""><</a> 1 <a href="">2</a> <a href="">3</a> <a href=""> ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    [[$footer]]
</div>

[[$scripts]]
</body>
</html>
