  <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title_block margin-bottom_50">
                        <div class="title">
                            Контакты
                        </div>
                        <img src="images/about_us_line.png" alt="blue_line">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="heading_text">
                        ООО «ЭкспертСтройИнжиниринг»
                    </div>
                </div>
                <div class="col">
                    Мы всегда рады нашим новым и постоянным клиентам, звоните, пишите, приезжайте.
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="map_contact">
                <script type="text/javascript" charset="utf-8" async
                        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Affabe3b9592ff38ae12fd41ce0c34f2cd2371d2546c1c3ae9f4f8a29aaaaf284&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="contacts_data">
                            <span class="b">
                               Адрес:
                            </span>
                            г.Омск, ул.10 лет Октября<br>
                            193 корпус 2, офис 601

                            <span class="b">
                               Почтовый индекс
                            </span>
                            644009

                            <span class="b">
                               Телефоны:
                            </span>
                                <a href="tel:83182505112">+7(3812)505-112</a><br>
                                <a href="tel:89509593030">+7(950)959-30-30</a>
                                <span class="b">
                             Email:
                            </span>
                                <a href="mailto:esi-omsk@mail.ru">esi-omsk@mail.ru</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>