<!DOCTYPE html>
<html lang="ru">
<head>
	[[$head]]
</head>
<body>
<div class="wrapper">
    <div class="content">
        <div class="content-fluid main_head_bg">
            [[$header]]
            [[$banner]]
        </div>
        <div class="container m-b_50">
            <div class="row">
				[[$IndexPopular]]



                <div class="col-12">
                    <div class="title">
                        Популярные товары
                        <img src="assets/theme/images/title_line.png" alt="линия">
                    </div>
                </div>
                <div class="col-md-4">
                    <a class="prod_cart_link" href="">
                        <div class="product_cart">
                            <div class="prod_cart_img">
                                <img src="assets/theme/images/simple_img.png" alt="">
                            </div>
                            <div class="prod_cart_title">
                                Аляска АЛК-7143 (ФЕРМЕР)
                            </div>
                            <div class="prod_cart_price">
                                30 000 Р
                            </div>
                            <div class="prod_cart_desc">
                                Прицеп общего пользования.
                                Кузов: 2500х1400х400. Масса груза 515кг.
                                Позволяет перевозить предметы большого
                                веса и строительные материалы.
                            </div>
                            <a href="">
                                <div class="prod_cart_btn animaite">
                                    Узнать больше
                                </div>
                            </a>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="prod_cart_link" href="">
                        <div class="product_cart">
                            <div class="prod_cart_img">
                                <img src="assets/theme/images/simple2.png" alt="">
                            </div>
                            <div class="prod_cart_title">
                                Аляска АЛК-7143 (ФЕРМЕР)
                            </div>
                            <div class="prod_cart_price">
                                30 000 Р
                            </div>
                            <div class="prod_cart_desc">
                                Прицеп общего пользования.
                                Кузов: 2500х1400х400. Масса груза 515кг.
                                Позволяет перевозить предметы большого
                                веса и строительные материалы.
                            </div>
                            <a href="">
                                <div class="prod_cart_btn animaite">
                                    Узнать больше
                                </div>
                            </a>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="prod_cart_link" href="">
                        <div class="product_cart">
                            <div class="prod_cart_img">
                                <img src="assets/theme/images/simple_img.png" alt="">
                            </div>
                            <div class="prod_cart_title">
                                Аляска АЛК-7143 (ФЕРМЕР)
                            </div>
                            <div class="prod_cart_price">
                                30 000 Р
                            </div>
                            <div class="prod_cart_desc">
                                Прицеп общего пользования.
                                Кузов: 2500х1400х400. Масса груза 515кг.
                                Позволяет перевозить предметы большого
                                веса и строительные материалы.
                            </div>
                            <a href="">
                                <div class="prod_cart_btn animaite">
                                    Узнать больше
                                </div>
                            </a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
		[[$main-banner]]
        [[$main-icons]]
    </div>
    [[$footer]]
</div>

<!-- Модальное окно -->


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Написать нам</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Имя</label>
                        <input class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Сообщение</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Отправить</button>
            </div>
        </div>
    </div>
</div>
[[$scripts]]
<!--<script src="js/script.js"></script>-->
</body>
</html>
