<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="KasymovRuslan">
    <meta name="keywords" content="Видеонаблюдение, пожарная система, сигнализация">
    <meta name="description"
          content="Мы предлагаем широкий спектр систем автоматической пожарной сигнализации, видеонаблюдения, охраной сигнализации,а также полный комплекс услуг в области их монтажа и обслуживания">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Эксперт строй инжиниринг</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div class="wrapper">
    <div class="content">
        <div class="content-fluid header_bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="logo">
                            <a href="/"><img src="images/logo_esi.svg" alt=""></a>
                            <div class="logo_text">Эксперт <span>Строй</span> Инжиниринг</div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="top_inf_line">
                            <span><a href="mailto:esi-omsk@mail.ru">esi-omsk@mail.ru</a></span> <span>10 лет октября 193/2, оф 601</span>
                            <span><a href="tel:83182505112">+7(3812)505-112</a></span>
                        </div>

                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <!--<a class="navbar-brand" href="#">Navbar</a>-->

                            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">Категории<span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Отзывы</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">О комании</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Контакты</a>
                                    </li>
                                </ul>
                                <button class="btn my-btn my-2 my-sm-0" data-toggle="modal" data-target="#exampleModal"
                                        data-whatever="@fat">НАПИСАТЬ НАМ
                                </button>

                            </div>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title_block margin-bottom_50">
                        <div class="title">
                            Контакты
                        </div>
                        <img src="images/about_us_line.png" alt="blue_line">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Данные отзывы собраны исключительно от официальных представителей наших клиентов.
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="request">
                        <div class="row">
                            <div class="col-3">
                                <div class="img_block">
                                    <img src="images/office.png" alt="">
                                </div>
                            </div>
                            <div class="col-8 offset-sm-1">
                                <div class="name">
                                    Руслан Касымов
                                </div>
                                <div class="company">
                                    Руководитель ООО „ZoomIT“
                                </div>
                                <div class="request_text">
                                    Выражаю огромную благодарность компании за
                                    проведенные работы на моем предприятии. Система
                                    видеонаблюдения была превосходно спроектирована
                                    и не менее качественно смонтирована. Работой
                                    остался доволен, претензиц нет. Всем советую!

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="request">
                        <div class="row">
                            <div class="col-3">
                                <div class="img_block">
                                    <img src="images/office.png" alt="">
                                </div>
                            </div>
                            <div class="col-8 offset-sm-1">
                                <div class="name">
                                    Руслан Касымов
                                </div>
                                <div class="company">
                                    Руководитель ООО „ZoomIT“
                                </div>
                                <div class="request_text">
                                    Выражаю огромную благодарность компании за
                                    проведенные работы на моем предприятии. Система
                                    видеонаблюдения была превосходно спроектирована
                                    и не менее качественно смонтирована. Работой
                                    остался доволен, претензиц нет. Всем советую!

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer_bg">
        <div class="container ">
            <div class="row">
                <div class="col-sm-2">

                    <div class="logo logo_footer">
                        <a href="/"><img src="images/logo_esi.svg" alt=""></a>
                        <div class="logo_text">Эксперт <span>Строй</span> Инжиниринг</div>
                    </div>

                </div>
                <div class="col-sm-10">
                    <div class="footer_nav">
                        <ul>
                            <li><a href="/">Категории</a></li>
                            <li><a href="/">Отзывы</a></li>
                            <li><a href="/">О комании</a></li>
                            <li><a href="/">Контакты</a></li>
                        </ul>
                    </div>
                    <div class="contacts">
                        <a href="tel:83812505112">+7(3812)505-112</a><br>
                        <button class="btn my-btn my-2 my-sm-0" data-toggle="modal" data-target="#exampleModal"
                                data-whatever="@getbootstrap">Написать нам
                        </button>
                    </div>
                    <div class="contacts">
                        <div>Пн-Вс с 9:00 до 18:00</div>
                        <div>ул.10 лет октября 193/2</div>
                        <div><a href="mailto:esi-omsk@mail.ru">esi-omsk@mail.ru</a></div>
                        <div><a href="#">Политика конфидениальности</a></div>
                    </div>
                    <div class="footer_category">
                        <ul>
                            <li><a href="#">Сети связи</a></li>
                            <li><a href="#">Видеонаблюдение</a></li>
                            <li><a href="#">Пожарная безопасность</a></li>
                            <li><a href="#">Охранная сигнализация
                                и контроль доступа</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script src="js/map_contact.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<!--<script src="js/script.js"></script>-->

</body>
</html>
